@model Tracker.Models.Bed

<h1>Add GardenBed</h1>

<form asp-controller="Bed" asp-action="AddBed" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"  />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />

    <input type="submit" value="Add Garden Bed" class="btn btn-secondary"  />
</form>