@Model Tracker.ViewModels.BedDetailViewModel

<h1>Garden Bed Detail</h1>


<table class="table">

	<b>Garden Bed Name: </b>
		<p>@Model.Name</p>
	</br>
	<b>Seeds planted in this garden bed:</b> @Model.SeedText

</table>

<a asp-controller="Seed" asp-action="AddSeedToBed" asp-route-id="@Model.BedId" class="btn btn-danger">Add seeds to this garden bed</a>