@model Tracker.ViewModels.BedDetailViewModel

<h1>Garden: @Model.Name</h1>


<table class="table">

	<p>Seed: @Model.SeedNames</p>

    <script>


        window.addEventListener("load", function () {
            setTimeout(function () {
                window.alert("It's time to water your plant!");
            }, 10000); // 10 second delay
        });


    </script>
  

</table>

<a asp-controller="Seed" asp-action="AddWater" asp-route-id="@Model.BedId" class="btn btn-danger">Add seeds to this garden bed</a>

