@model Tracker.ViewModels.BedDetailViewModel

<h1>Garden: @Model.Name</h1>


<table class="table">

	<p>Seed: @Model.SeedText</p>

</table>

<a asp-controller="Seed" asp-action="AddSeedToBed" asp-route-id="@Model.BedId" class="btn btn-danger">Add seeds to this garden bed</a>

