@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6"> Begin Your Gardening Journey</h1>
    <p class="btn btn-success"> We have all the tips on
        how to tend to your garden beds at your finger tips.</p>
</div>
