@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6"> Begin Your Gardening Journey</h1>
    <p class="btn btn-success"> We have all the tips on
        how to tend to your garden beds at your finger tips.</p>
    <img src="https://media.npr.org/assets/img/2017/06/02/istock-500593292-1bb78a1e79717b7a2ac14dc9edf99cc71723d261-s1200-c85.webp" width="1110" 
        class="img-fluid" alt="tomatoe plant" width ="833">
    <p class="btn btn-success"> All the help you needto care for your garden at your finger tips.</p>
</div>
