@model Tracker.Models.Seed

<h1>Add Seed</h1>

<form asp-controller="Seed" asp-action="AddSeed" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="DatePlanted">Date Planted</label>
        <input asp-for="DatePlanted" class="form-control" />
        <span asp-validation-for="DatePlanted" class="text-danger"></span>
    </div>*@

    <div class="form-group">
        <label asp-for="HardinessZone">Hardiness Zone</label>
        <input asp-for="HardinessZone" class="form-control" />
        <span asp-validation-for="HardinessZone" class= "text-danger"></span>
    </div>

    <br />

    <input type="submit" value="Add Seed" class="btn btn-secondary" border="40" />
</form>