@model Tracker.Models.Seed

<h1>Add Seed</h1>

<form asp-controller="Seed" asp-action="AddSeed" method="post">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span></span>
    </div>
    <div class="form-group">
        <label asp-for="HardiZone">Hardiness Zone</label>
        <input asp-for="HardiZone" class="form-control" />
        <span></span>
    </div>
    <div class="form-group">
        <label asp-for="WaterSchedule">Water Schedule</label>
        <input asp-for="WaterSchedule" class="form-control" />
        <span></span>
    </div>

    <br />

    <input type="submit" value="Add Seed" />
</form>