@model Tracker.ViewModels.AddWaterSeedToBedViewModel

<h1>Add Seed to Garden Bed </h1>

<form asp-controller="Water" asp-action="AddWaterSeedToBed" method="post">

    <input type="hidden" value="@Model.BedId" name="BedId" />
   

    <div class="form-group">
        <label asp-for="SeedId">Seed</label>
         <select asp-for="SeedId" asp-items="Model.Seed"></select>
         <span asp-validation-for="SeedId"></span>
    </div>
 
    <div class="form-group">
        <label asp-for="DatePlanted">Date Planted</label>
        <input asp-for="DatePlanted" class="form-control" />
        <span></span>
    </div>

    <script>
      
      
    </script>

 
 

    <input type="submit" value="Add Seed to Bed" class="btn btn-danger" />
</form>

