@model Tracker.ViewModels.AddSeedViewModel

<h1>Add Seed to @Model.Bed.Name Garden Bed: </h1>

<form asp-controller="Seed" asp-action="AddSeed" method="post">
    <input type="hidden" value="@Model.Bed.Id" name="BedId" />

    <div class="form-group">
        <label asp-for="SeedId">Seed</label>


@*use conditional in the creation of drop down list*@
        <select asp-for="SeedId" asp-items="Model.Seeds"></select>

        <span asp-validation-for="SeedId"></span>
    </div>

    <input type="submit" value="Add Seed to Bed" class="btn btn-secondary" />
</form>

