@model Tracker.ViewModels.AddSeedViewModel

<h1>Add Seed to @Model.Bed.Name Garden Bed: </h1>

<form asp-controller="Seed" asp-action="ProcessAddSeedToBed" method="post">
    <input type="hidden" value="@Model.Bed.Id" name="BedId" />

    <div class="form-group">
        <label asp-for="SeedId">Seed</label>
         <select asp-for="SeedId" asp-items="Model.Seeds"></select>
         <span asp-validation-for="SeedId"></span>
    </div>
 
    <div class="form-group">
        <label asp-for="DatePlanted">Date Planted</label>
        <input asp-for="DatePlanted" class="form-control" />
        <span></span>
    </div>

  
    <div class="form-group">
        <label asp-for="WaterSchedule">Watering Schedule</label>
        <select>
            <option value="0">Please Select One</option>
            <option value="1">Once a week</option>
            <option value="2">Twice a week</option>
            <option value="3">Every other week</option>
            <option value="4">DEMO</option>
        </select>
        <span></span>
    </div>
 

    <input type="submit" value="Add Seed to Bed" class="btn btn-danger" />
</form>

