html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

.khaki {
    background-color: #d1ca08;
}

.image-bg {
    background-image: url("https://www.economical.com/ECOCOM/media/EcoComMedia/Site%20imagery/Blog/Blog%20entries/Home-GardenTips-Blog_945x525.jpg?ext=.jpg");
    opacity: 0.7;
}

.centered {
    position: absolute;
    text-align: center;
    color: navajowhite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    opacity: 0.5;
}
