html {
  font-size: 14px;
 
}


@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}
.khaki {
    background-color: #d1ca08;
}
.image-bg {
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/230405132308-01-gardening-stock.jpg?c=16x9&q=h_720,w_1280,c_fill/f_webp");
    opacity: 0.5;
}
.overlay {
    position: relative;
    text-align: center;
    color: darkseagreen;
}
